html {
    font-size; 16px;
}
body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    display: inline-block;
    margin-left: 14%;
    font-size: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3px;
    background-color: #F8F79F;

}

img {
    border-radius: 20%;
    margin-left: 1%;
    display: inline-block;
}

p {
    border-bottom: 5px;
    display: inline-block;
    font-size: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 4px;
    background-color: #87C9EC;
}

.left {
    text-align: center;
    margin-left: 3%;
    width: 20%;
    float: left;
    background-color: #3FBFA5;
    border: 4px solid gold;
    border-radius: 30px;
    transition: all 500ms;
}

.form {
    text-align: left;
    margin-left: 30%;
    font-size: 20px;
}

.input {
    font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}

.button1 {
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    background-color: #BD82E8;
}

.button2 {
    margin-left: 4%;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    background-color: #EB6A97;
}

.right {
    margin-left: 3.5%;
    width: 70%;
    float: left;
    background-color: #F4ADC0;
    border: 5px solid #3F99BF;
    border-radius: 30px;
}

.title {
    display: block;
    color: white;
    font-size: 30px;
    background-color: gray;
    padding: 10px;
}


.cat1 {
    z-index: 1;
}

.cat2 {
    z-index: 1;
}

.cat3 {
    z-index: 1;
}

.cat4 {
    z-index: 1;
    margin-left: 18%;
}

.cat5 {
    z-index: 1;
    margin-left: 1%;
}

.name1 {
    margin-left: 2%;
}

.name2 {
    margin-left: 4%;
}

.name3 {
    margin-left: 4%
}

.name4 {
    margin-left: 21%;
}

.name5 {
    margin-left: 5%;
}

#f1 {
    position: absolute;
    top: 150px;
    left: 580px;
    z-index: -1;
}

#f2 {
    position: absolute;
    top: 150px;
    left: 1000px;
    z-index: -1;
}

#f3 {
    position: absolute;
    top: 150px;
    left: 1420px;
    z-index: -1;
}

#f4 {
    position: absolute;
    top: 570px;
    left: 810px;
    z-index: -1;
}

#f5 {
    position: absolute;
    top: 570px;
    left: 1230px;
    z-index: -1;
}
